[submodule "copasi-dev/copasi-dependencies"]
	path = dev/copasi-source/copasi-dependencies
	url = https://github.com/copasi/copasi-dependencies.git
[submodule "copasi-dev/COPASI"]
	path = dev/copasi-source/COPASI
	url = https://github.com/jonasfoe/COPASI.git
