[submodule "copasi-dev/copasi-dependencies"]
	path = copasi-dev/copasi-dependencies
	url = https://github.com/copasi/copasi-dependencies.git
[submodule "copasi-dev/COPASI"]
	path = copasi-dev/COPASI
	url = https://github.com/jonasfoe/COPASI.git
